<?xml version="1.0"?>
<!--
/**
 * Every hook is one of Algolia's own documented events, so nothing here is a
 * plugin on, or a preference for, an Algolia class. An extension upgrade can
 * therefore not silently strip the seller out of the index without also
 * removing its own public API.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="algolia_before_products_collection_load">
        <observer name="magentoegypt_algolia_exclude_inactive_sellers"
                  instance="MagentoEgypt\AlgoliaVendor\Observer\ExcludeInactiveSellerProducts"/>
    </event>
    <event name="algolia_after_create_product_object">
        <observer name="magentoegypt_algolia_add_seller_data"
                  instance="MagentoEgypt\AlgoliaVendor\Observer\AddSellerData"/>
        <observer name="magentoegypt_algolia_use_indexed_min_price"
                  instance="MagentoEgypt\AlgoliaVendor\Observer\UseIndexedMinPrice"/>
        <observer name="magentoegypt_algolia_add_price_range"
                  instance="MagentoEgypt\AlgoliaVendor\Observer\AddPriceRange"/>
        <observer name="magentoegypt_algolia_fix_price_symbol"
                  instance="MagentoEgypt\AlgoliaVendor\Observer\FixPriceSymbol"/>
        <observer name="magentoegypt_algolia_arabic_terms_for_english"
                  instance="MagentoEgypt\AlgoliaVendor\Observer\ArabicTermsForEnglishIndex"/>
        <observer name="magentoegypt_algolia_drop_stamped_default_size"
                  instance="MagentoEgypt\AlgoliaVendor\Observer\DropStampedDefaultSize"/>
    </event>
    <event name="algolia_products_index_before_set_settings">
        <observer name="magentoegypt_algolia_add_seller_facet"
                  instance="MagentoEgypt\AlgoliaVendor\Observer\AddSellerFacet"/>
        <observer name="magentoegypt_algolia_enable_personalization"
                  instance="MagentoEgypt\AlgoliaVendor\Observer\EnablePersonalizationSetting"/>
        <observer name="magentoegypt_algolia_arabic_terms_for_english"
                  instance="MagentoEgypt\AlgoliaVendor\Observer\ArabicTermsForEnglishIndex"/>
    </event>
    <event name="algolia_after_suggestions_collection_build">
        <observer name="magentoegypt_algolia_filter_suggestions"
                  instance="MagentoEgypt\AlgoliaVendor\Observer\FilterSuggestions"/>
    </event>
    <event name="algolia_after_create_configuration">
        <observer name="magentoegypt_algolia_storefront_translations"
                  instance="MagentoEgypt\AlgoliaVendor\Observer\AddStorefrontTranslations"/>
    </event>
</config>
