<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="vnecoms_vendorscustom_theme_tab_main_after">
        <observer name="changes_textarea_theme_tab_main_after" instance="MagentoEgypt\VendorExtend\Observer\Textarea" disabled="false" />
    </event>
    <event name="controller_action_predispatch">
		<observer name="vnecoms_core_action_predispatch"  disabled="true" />
	</event>
    <event name="adminhtml_vendor_save_after">
        <observer name="magentoegypt_vendorextend_admin_clear_vendor_theme"
                  instance="MagentoEgypt\VendorExtend\Observer\AdminClearVendorTheme" />
    </event>
    <!--
        An RMA created in Admin (Returns > New Request) must belong to the vendor who sold the item, or it never
        shows in that vendor's panel (ClickUp TC39 14zb93nu9dj). Admin's vrma route is served by
        Vnecoms\VendorsRMA\Controller\Adminhtml\Request\Save, which dispatches `helpdesk_request_prepare_save`
        (a leftover from Vnecoms' Helpdesk module) instead of `rma_request_prepare_save`, the event Vnecoms'
        SaveVendorId observer listens to. Run that same observer here, so admin requests get vendor_id and
        vendor_order_id from the returned order item exactly as customer and guest requests do.
    -->
    <event name="helpdesk_request_prepare_save">
        <observer name="magentoegypt_vendorextend_admin_rma_vendor"
                  instance="Vnecoms\VendorsRMA\Observer\SaveVendorId" />
    </event>
</config>
