<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Sidebar\AbstractSidebar">
        <plugin name="me_new_bundle_order_create_sidebar" type="MagentoEgypt\BundleExtend\Plugin\Adminhtml\Order\Create\Sidebar" sortOrder="201" />
    </type>
</config>
