<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Bundle\Ui\DataProvider\Product\BundleDataProvider" type="MagentoEgypt\BundleExtend\Ui\DataProvider\Product\BundleDataProvider" />
    <preference for="Magento\Bundle\Ui\DataProvider\Product\Form\Modifier\Composite" type="MagentoEgypt\BundleExtend\Ui\DataProvider\Product\Form\Modifier\Composite" />
    <preference for="Magento\Bundle\Model\ResourceModel\Selection\Collection" type="MagentoEgypt\BundleExtend\Model\ResourceModel\Product\Collection" />
    <preference for="Magento\InventoryBundleProduct\Model\GetBundleProductStockStatus" type="MagentoEgypt\BundleExtend\Model\GetBundleProductStockStatus" />

    <!-- Universal lie about typeId: returns 'bundle' for new_bundle products when override flag is set -->
    <type name="Magento\Catalog\Model\Product">
        <plugin name="me_override_typeid_as_bundle" type="MagentoEgypt\BundleExtend\Plugin\Model\OverrideTypeIdAsBundle" sortOrder="5" />
        <plugin name="skip_composite_check" type="MagentoEgypt\BundleExtend\Plugin\Model\SkipCompositePlugin" sortOrder="11" />
        <plugin name="me_new_bundle_parent_identities" type="MagentoEgypt\BundleExtend\Plugin\ProductIdentitiesExtender" sortOrder="101" />
    </type>

    <!-- Order item qty/ship/cancel math for new_bundle -->
    <type name="Magento\Sales\Model\Order\Item">
        <plugin name="me_new_bundle_order_item" type="MagentoEgypt\BundleExtend\Plugin\Sales\Order\Item" sortOrder="101" />
    </type>

    <!-- Bundle internals: set override flag when working with new_bundle entities -->
    <type name="Magento\Bundle\Model\Product\SaveHandler">
        <plugin name="me_new_bundle_save_handler" type="MagentoEgypt\BundleExtend\Plugin\Model\Product\SaveHandlerWrapper" />
    </type>
    <type name="Magento\Bundle\Model\Product\ReadHandler">
        <plugin name="me_new_bundle_read_handler" type="MagentoEgypt\BundleExtend\Plugin\Model\Product\ReadHandlerWrapper" />
    </type>
    <type name="Magento\Bundle\Model\OptionRepository">
        <plugin name="me_new_bundle_option_repository" type="MagentoEgypt\BundleExtend\Plugin\Model\OptionRepositoryWrapper" />
    </type>
    <type name="Magento\Bundle\Model\OptionManagement">
        <plugin name="me_new_bundle_option_management" type="MagentoEgypt\BundleExtend\Plugin\Model\OptionManagementWrapper" />
    </type>
    <type name="Magento\Bundle\Model\CartItemProcessor">
        <plugin name="me_new_bundle_cart_item_processor" type="MagentoEgypt\BundleExtend\Plugin\Model\CartItemProcessorWrapper" />
    </type>
    <type name="Magento\Bundle\Model\Product\CopyConstructor\Bundle">
        <plugin name="me_new_bundle_copy_constructor" type="MagentoEgypt\BundleExtend\Plugin\Model\CopyConstructorWrapper" />
    </type>

    <!-- Existing customization plugins -->
    <type name="Magento\Bundle\Model\LinkManagement">
        <plugin name="skip_composite_check" type="MagentoEgypt\BundleExtend\Plugin\Model\LinkManagementPlugin" sortOrder="10" />
    </type>
    <type name="Magento\CatalogInventory\Model\Quote\Item\QuantityValidator">
        <plugin name="skip_configproduct_stock_valid" type="MagentoEgypt\BundleExtend\Plugin\Model\SkipQuantityValidator" sortOrder="11" />
    </type>
    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="skip_quote_config_valid" type="MagentoEgypt\BundleExtend\Plugin\Model\SkipConfigQuoteItem" sortOrder="11" />
    </type>
    <type name="Magento\Bundle\Model\ResourceModel\Option\Collection">
        <plugin name="skip_required_opcheck" type="MagentoEgypt\BundleExtend\Plugin\Model\BundleOptionCollection" />
    </type>
    <type name="Magento\ConfigurableProduct\Model\Product\Type\Configurable">
        <plugin name="set_super_attr" type="MagentoEgypt\BundleExtend\Plugin\Model\SetSuperConfigurableProduct" />
    </type>
    <type name="Magento\Bundle\Ui\DataProvider\Product\Form\Modifier\BundlePanel">
        <plugin name="new_bundle_discount_fields" type="MagentoEgypt\BundleExtend\Plugin\Ui\BundlePanel" />
    </type>
    <type name="Magento\Bundle\Ui\DataProvider\Product\Form\Modifier\Composite">
        <plugin name="new_bundle_discount_fields" type="MagentoEgypt\BundleExtend\Plugin\Ui\Composite" />
    </type>
    <type name="Magento\Bundle\Api\ProductOptionRepositoryInterface">
        <plugin name="save_bundle_discount" type="MagentoEgypt\BundleExtend\Plugin\Model\SaveBundleOption"/>
    </type>
    <type name="Magento\Bundle\Model\Product\Price">
        <plugin name="bundle_discount_apply" type="MagentoEgypt\BundleExtend\Plugin\Model\ApplyBundleDiscount"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\AbstractItem">
        <plugin name="bundle_discount_cart_final" type="MagentoEgypt\BundleExtend\Plugin\Model\QuoteItemPrice"/>
    </type>
</config>
