<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--
        The product attribute `model` collides with the key core uses to carry the Product object,
        and custom_attributesV2 failed for every product. See the class.
    -->
    <type name="Magento\CatalogGraphQl\Model\Resolver\Product\ProductCustomAttributes">
        <arguments>
            <argument name="productDataProvider" xsi:type="object">MagentoEgypt\SearchAttributeGuard\Model\GraphQl\CustomAttributeProductData</argument>
        </arguments>
    </type>
</config>
