
.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    height: 5px;
    width: 85%;
}

.slider-action {
    display: flex;
    align-items: center;
}


.smile-es-range-slider .actions-primary {
    margin-left: 23px;
    font-size: 13px;
    width: auto;
}
.smile-es-range-slider .action.small {
    background:#222;
    color:#fff;
    padding: 2px 10px;
    color: #fff;
    border-radius: 40px;
    line-height: 20px;
    display:block;
    font-size: 12px;
}
.smile-es-range-slider .action:hover, .smile-es-range-slider .action:active{
    background:#56cfe1;
}
.ui-slider-range.ui-widget-header.ui-corner-all{
    left: 25.5%;
    width: 50.5%;
    background: #f68872;
    position: absolute;
    height: 5px;
}


.ui-slider-handle {
    top: -5px;
    height: 15px;
    width: 15px;
    background: #56cfe1;
    display: block;
}


.slider-label>div {
    position: absolute;
    margin-top: -20px;
    color: #333;
    font-size: 12px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: transparent;
    border-radius: 3px;
}

.slider-label {
    position: relative;
    width: 80%;
}

.slider-label>div:nth-child(2) {
    right: 0;
}

.smile-es-range-slider {
    margin-top: 40px;
}

.block.filter .filter-content .filter-options-content .items .item .mgs-filter-item-checkbox input[type="checkbox"]+.mgs-content:before {
    display: none;
}
.block.filter .filter-content .filter-options-content .items .item .mgs-filter-item-checkbox {
    display: inline-block;
}
.block.filter .filter-content .filter-options-content .items .item>a {
    display: inline-block;
}
.block.filter .block-content.filter-content .filter-options-item .filter-options-content ol.items .item .count {
    position: absolute;
    right: 0;
    top: 50%;
    color: #b1b1b1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.block.filter .filter-content .filter-options-content .swatch-attribute.color .swatch-option-link-layered .swatch-option.color:before {
    content: "" attr(data-option-label) ""
}
.block.filter .filter-content .filter-options-content .items .item .mgs-filter-item-checkbox input[type="checkbox"] {
    display: inline-block;
   }
