<?xml version="1.0"?>
<!--
    GraphQL-area wiring of HubAppVendors.

    The three seller-card Home section types are one provider class in three
    configurations, registered in the core module's section pool (DI merges this
    "providers" array with the core module's and the other satellites').
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="MagentoEgypt\HubAppVendors\Model\Home\Provider\FeaturedStoresProvider"
                 type="MagentoEgypt\HubAppVendors\Model\Home\Provider\StoresProvider">
        <arguments>
            <argument name="defaultSort" xsi:type="string">FEATURED</argument>
            <argument name="chosenSellers" xsi:type="boolean">true</argument>
            <argument name="featuredFallback" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>
    <virtualType name="MagentoEgypt\HubAppVendors\Model\Home\Provider\TopVendorsProvider"
                 type="MagentoEgypt\HubAppVendors\Model\Home\Provider\StoresProvider">
        <arguments>
            <argument name="defaultSort" xsi:type="string">TOP_RATED</argument>
        </arguments>
    </virtualType>
    <virtualType name="MagentoEgypt\HubAppVendors\Model\Home\Provider\NewStoresProvider"
                 type="MagentoEgypt\HubAppVendors\Model\Home\Provider\StoresProvider">
        <arguments>
            <argument name="defaultSort" xsi:type="string">NEWEST</argument>
        </arguments>
    </virtualType>

    <type name="MagentoEgypt\HubApp\Model\Home\SectionProviderPool">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="FEATURED_STORES" xsi:type="object">MagentoEgypt\HubAppVendors\Model\Home\Provider\FeaturedStoresProvider</item>
                <item name="TOP_VENDORS" xsi:type="object">MagentoEgypt\HubAppVendors\Model\Home\Provider\TopVendorsProvider</item>
                <item name="NEW_STORES" xsi:type="object">MagentoEgypt\HubAppVendors\Model\Home\Provider\NewStoresProvider</item>
            </argument>
        </arguments>
    </type>
</config>
