<?xml version="1.0"?><config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd"><module name="MagentoEgypt_DeliveryAvailability"><sequence><module name="MagentoEgypt_CityManager"/><module name="Magento_Quote"/></sequence></module></config>