<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer">
            <group id="create_account">
                <field id="delete_email_template" translate="label comment" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Delete Account Email</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
        <section id="vsms">
            <label>Whats app Notification</label>
            <group id="settings">
            	<group id="sms_gateway">
	            	<field id="smsextend_account" translate="label tooltip" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>WhatsApp Account ID</label>
	                    <config_path>vsms/settings/smsextend_account</config_path>
	                    <depends>
	                        <field id="gateway">smsextend</field>
	                    </depends>
	                </field>
                    <field id="smsextend_version" translate="label tooltip" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>WhatsApp API Version</label>
                        <config_path>vsms/settings/smsextend_version</config_path>
                        <depends>
                            <field id="gateway">smsextend</field>
                        </depends>
                    </field>
                    <field id="smsextend_token" translate="label tooltip" type="textarea" sortOrder="192" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>WhatsApp Access Token</label>
                        <config_path>vsms/settings/smsextend_token</config_path>
                        <depends>
                            <field id="gateway">smsextend</field>
                        </depends>
                    </field>
                </group>
            </group>
            <group id="otp_configuration">
                <field id="otp_message_id" translate="label comment" type="text" sortOrder="541" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WhatsApp OTP message Template Name</label>
                    <config_path>vsms/settings/otp_message_id</config_path>
                    <!-- <depends>
                        <field id="vsms/settings/gateway">smsextend</field>
                    </depends> -->
                </field>
                <field id="language" translate="label comment" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WhatsApp Template Language</label>
                    <config_path>vsms/settings/language</config_path>
                </field>
            </group>
            <group id="admin">
                <group id="pending_vendor" showInStore="1">
                    <field id="admin_pending_vendor_message" showInStore="1" />
                    <field id="admin_pending_vendor_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/vendor/admin_pending_vendor_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="admin_pending_vendor">1</field>
                        </depends>
                    </field>
                </group>
                <group id="customer_register">
                    <field id="customer_register_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/admin/customer_register_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="customer_register_enabled">1</field>
                        </depends>
                    </field>
                </group>
                <group id="new_order">
                    <field id="new_order_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/admin/new_order_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="new_order_enabled">1</field>
                        </depends>
                    </field>
                </group>
                <group id="new_contact_massage">
                    <field id="new_contact_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/admin/new_contact_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="new_contact_enabled">1</field>
                        </depends>
                    </field>
                </group>
                <group id="new_review_message">
                    <field id="new_review_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/admin/new_review_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="new_review_enabled">1</field>
                        </depends>
                    </field>
                </group>
            </group>
            <group id="customer">
                <group id="customer_register">
                    <field id="customer_register_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/vendor/customer_register_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="customer_register_enabled">1</field>
                        </depends>
                    </field>
                </group>
                <group id="customer_edit" translate="label" showInDefault="1" showInWebsite="1" sortOrder="11" showInStore="1">
	            	<label>He edit an account information</label>
	            	<frontend_model>Vnecoms\Sms\Block\Adminhtml\System\Config\Fieldset</frontend_model>
	            	<field id="customer_edit_enabled" translate="label tooltip" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Enabled</label>
	                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
	                    <tooltip>If this option is set to "Yes", A sms will be sent to customer when he updates an account.</tooltip>
	                    <config_path>vsms/customer/customer_edit_enabled</config_path>
	                </field>
	                <field id="customer_edit_message" translate="label tooltip" type="textarea" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
	                    <label>Message</label>
	                    <config_path>vsms/customer/customer_edit_message</config_path>
	                    <depends>
	                        <field id="customer_edit_enabled">1</field>
	                    </depends>
	                </field>
                    <field id="customer_edit_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/customer/customer_edit_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="customer_edit_enabled">1</field>
                        </depends>
                    </field>
	            </group>
                <group id="customer_delete" translate="label" showInDefault="1" showInWebsite="1" sortOrder="12" showInStore="1">
	            	<label>delete account</label>
	            	<frontend_model>Vnecoms\Sms\Block\Adminhtml\System\Config\Fieldset</frontend_model>
	            	<field id="customer_delete_enabled" translate="label tooltip" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Enabled</label>
	                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
	                    <tooltip>If this option is set to "Yes", A sms will be sent to customer when he delete an account.</tooltip>
	                    <config_path>vsms/customer/customer_delete_enabled</config_path>
	                </field>
	                <field id="customer_delete_message" translate="label tooltip" type="textarea" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
	                    <label>Message</label>
	                    <config_path>vsms/customer/customer_delete_message</config_path>
	                    <depends>
	                        <field id="customer_delete_enabled">1</field>
	                    </depends>
	                </field>
                    <field id="customer_delete_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/customer/customer_delete_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="customer_delete_enabled">1</field>
                        </depends>
                    </field>
	            </group>
                <group id="new_order">
                    <field id="new_order_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/customer/new_order_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="new_order_enabled">1</field>
                        </depends>
                    </field>
                </group>
                <group id="new_invoice">
                    <field id="new_invoice_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/customer/new_invoice_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="new_invoice_enabled">1</field>
                        </depends>
                    </field>
                </group>
                <group id="new_shipment">
                    <field id="new_shipment_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/customer/new_shipment_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="new_shipment_enabled">1</field>
                        </depends>
                    </field>
                </group>
                <group id="new_creditmemo">
                    <field id="new_creditmemo_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/customer/new_creditmemo_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="new_creditmemo_enabled">1</field>
                        </depends>
                    </field>
                </group>
            </group>
            <group id="vendor" showInStore="1">
                <group id="vendor_register_fieldset" translate="label" showInDefault="1" showInWebsite="1" sortOrder="5" showInStore="1">
	            	<label>Vendor New Account</label>
	            	<frontend_model>Vnecoms\Sms\Block\Adminhtml\System\Config\Fieldset</frontend_model>
	            	<field id="vendor_register" translate="label tooltip" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Enabled</label>
	                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
	                    <tooltip>If this option is set to "Yes", A sms will be sent to vendor when he creates an account.</tooltip>
	                    <config_path>vsms/vendor/vendor_register</config_path>
	                </field>
	                <field id="vendor_register_message" translate="label tooltip" type="textarea" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
	                    <label>Message</label>
	                    <config_path>vsms/vendor/vendor_register_message</config_path>
	                    <depends>
	                        <field id="vendor_register">1</field>
	                    </depends>
	                </field>
                    <field id="vendor_register_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/vendor/vendor_register_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="vendor_register">1</field>
                        </depends>
                    </field>
	            </group>
                <group id="vendor_edit_fieldset" translate="label" showInDefault="1" showInWebsite="1" sortOrder="25" showInStore="1">
	            	<label>Vendor Account Information is Updated</label>
	            	<frontend_model>Vnecoms\Sms\Block\Adminhtml\System\Config\Fieldset</frontend_model>
	            	<field id="vendor_edit" translate="label tooltip" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Enabled</label>
	                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
	                    <tooltip>If this option is set to "Yes", A sms will be sent to vendor when he updates an account.</tooltip>
	                    <config_path>vsms/vendor/vendor_edit</config_path>
	                </field>
	                <field id="vendor_edit_message" translate="label tooltip" type="textarea" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
	                    <label>Message</label>
	                    <config_path>vsms/vendor/vendor_edit_message</config_path>
	                    <depends>
	                        <field id="vendor_edit">1</field>
	                    </depends>
	                </field>
                    <field id="vendor_edit_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/vendor/vendor_edit_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="vendor_edit">1</field>
                        </depends>
                    </field>
	            </group>
                <group id="vendor_delete_fieldset" translate="label" showInDefault="1" showInWebsite="1" sortOrder="25" showInStore="1">
	            	<label>Vendor Account is Deleted</label>
	            	<frontend_model>Vnecoms\Sms\Block\Adminhtml\System\Config\Fieldset</frontend_model>
	            	<field id="vendor_delete" translate="label tooltip" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Enabled</label>
	                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
	                    <tooltip>If this option is set to "Yes", A sms will be sent to vendor when he delete an account.</tooltip>
	                    <config_path>vsms/vendor/vendor_delete</config_path>
	                </field>
	                <field id="vendor_delete_message" translate="label tooltip" type="textarea" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
	                    <label>Message</label>
	                    <config_path>vsms/vendor/vendor_delete_message</config_path>
	                    <depends>
	                        <field id="vendor_delete">1</field>
	                    </depends>
	                </field>
                    <field id="vendor_delete_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/vendor/vendor_delete_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="vendor_delete">1</field>
                        </depends>
                    </field>
	            </group>
                <group id="vendor_approved_fieldset" showInStore="1">
                    <field id="vendor_approved_message"  showInStore="1" />
                    <field id="vendor_approved_message_id" translate="label comment" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/vendor/vendor_approved_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="vendor_approved">1</field>
                        </depends>
                    </field>
                </group>
                <group id="vendor_unapproved_fieldset" showInStore="1">
                    <field id="vendor_unapproved_message" showInStore="1" />
                    <field id="vendor_unapproved_message_id" translate="label comment" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/vendor/vendor_unapproved_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="vendor_unapproved">1</field>
                        </depends>
                    </field>
                </group>
                <group id="product_approved_fieldset" showInStore="1">
                    <field id="product_approved_message" showInStore="1" />
                    <field id="product_approved_message_id" translate="label comment" type="text" sortOrder="36" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/vendor/product_approved_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="product_approved">1</field>
                        </depends>
                    </field>
                </group>
                <group id="product_unapproved_fieldset" showInStore="1">
                    <field id="product_unapproved_message" showInStore="1" />
                    <field id="product_unapproved_message_id" translate="label comment" type="text" sortOrder="46" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/vendor/product_unapproved_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="product_unapproved">1</field>
                        </depends>
                    </field>
                </group>
                <group id="new_order_fieldset" showInStore="1">
                    <field id="new_order_message" showInStore="1" />
                    <field id="new_order_message_id" translate="label comment" type="text" sortOrder="56" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/vendor/new_order_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="new_order">1</field>
                        </depends>
                    </field>
                </group>
                <group id="new_invoice_fieldset" showInStore="1">
                    <field id="new_invoice_message" showInStore="1" />
                    <field id="new_invoice_message_id" translate="label comment" type="text" sortOrder="66" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/vendor/new_invoice_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="new_invoice">1</field>
                        </depends>
                    </field>
                </group>
                <group id="new_shipment_fieldset" showInStore="1">
                    <field id="new_shipment_message" showInStore="1" />
                    <field id="new_shipment_message_id" translate="label comment" type="text" sortOrder="76" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/vendor/new_shipment_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="new_shipment">1</field>
                        </depends>
                    </field>
                </group>
                <group id="new_creditmemo_fieldset" showInStore="1">
                    <field id="new_creditmemo_message" showInStore="1" />
                    <field id="new_creditmemo_message_id" translate="label comment" type="text" sortOrder="86" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>WhatsApp Message Template Name</label>
                        <config_path>vsms/vendor/new_creditmemo_message_id</config_path>
                        <depends>
                            <field id="vsms/settings/gateway">smsextend</field>
                            <field id="new_creditmemo">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
