<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="page">
            <group id="footer">
                <field id="footer1" translate="label" type="editor" sortOrder="50" showInDefault="1" showInStore="1" canRestore="1">
                    <label>Footer Column 1</label>
                    <frontend_model>Vnecoms\VendorsPage\Block\System\Config\Form\Field\Editor</frontend_model>
                    <frontend_class> admin__control-textarea</frontend_class>
                </field>
                <field id="footer2" translate="label" type="editor" sortOrder="50" showInDefault="1" showInStore="1" canRestore="1">
                    <label>Footer Column 2</label>
                    <frontend_model>Vnecoms\VendorsPage\Block\System\Config\Form\Field\Editor</frontend_model>
                    <frontend_class> admin__control-textarea</frontend_class>
                </field>
                <field id="footer3" translate="label" type="editor" sortOrder="50" showInDefault="1" showInStore="1" canRestore="1">
                    <label>Footer Column 3</label>
                    <frontend_model>Vnecoms\VendorsPage\Block\System\Config\Form\Field\Editor</frontend_model>
                    <frontend_class> admin__control-textarea</frontend_class>
                </field>
                <field id="footer4" translate="label" type="editor" sortOrder="50" showInDefault="1" showInStore="1" canRestore="1">
                    <label>Footer Column 4</label>
                    <frontend_model>Vnecoms\VendorsPage\Block\System\Config\Form\Field\Editor</frontend_model>
                    <frontend_class> admin__control-textarea</frontend_class>
                </field>
                <field id="footer_copy" translate="label" type="editor" sortOrder="50" showInDefault="1" showInStore="1" canRestore="1">
                    <label>Footer Copy Right</label>
                    <frontend_model>Vnecoms\VendorsPage\Block\System\Config\Form\Field\Editor</frontend_model>
                    <frontend_class> admin__control-textarea</frontend_class>
                </field>
                <field id="footer_social" translate="label" type="editor" sortOrder="50" showInDefault="1" showInStore="1" canRestore="1">
                    <label>Footer Social</label>
                    <frontend_model>Vnecoms\VendorsPage\Block\System\Config\Form\Field\Editor</frontend_model>
                    <frontend_class> admin__control-textarea</frontend_class>
                </field>
                <field id="footer_links" translate="label" type="editor" sortOrder="50" showInDefault="1" showInStore="1" canRestore="1">
                    <label>Footer Policy</label>
                    <frontend_model>Vnecoms\VendorsPage\Block\System\Config\Form\Field\Editor</frontend_model>
                    <frontend_class> admin__control-textarea</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>