<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd"><acl><resources><resource id="Magento_Backend::admin">
<resource id="MagentoEgypt_Fulfillment::manage" title="Manage Hub fulfillment" sortOrder="100"><resource id="MagentoEgypt_Fulfillment::finance" title="Record shipping finance operations" sortOrder="10"/></resource>
<resource id="MagentoEgypt_Fulfillment::fleet" title="Hub Fleet integration" sortOrder="101"/>
<resource id="Magento_Backend::stores"><resource id="Magento_Backend::stores_settings"><resource id="Magento_Config::config"><resource id="MagentoEgypt_Fulfillment::config" title="Fulfillment configuration" sortOrder="100"/></resource></resource></resource></resource></resources></acl></config>
