<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"><default><hubfulfillment><general><preview_enabled>0</preview_enabled><policy>{"version":1,"currency":"EGP","minor_digits":2,"sources":[],"vendors":[],"products":[],"rates":[]}</policy></general></hubfulfillment></default></config>
