<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"><default>
<carriers><hubfulfillment><active>1</active><model>MagentoEgypt\Fulfillment\Model\Carrier</model><title>Hub Market delivery</title><sallowspecific>0</sallowspecific></hubfulfillment></carriers>
<hubfulfillment><general><preview_enabled>0</preview_enabled><checkout_enabled>0</checkout_enabled><catalog_enabled>0</catalog_enabled><policy/></general></hubfulfillment></default></config>
