<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MagentoEgypt_Fulfillment"><sequence>
        <module name="MagentoEgypt_CityManager"/><module name="MagentoEgypt_DeliveryAvailability"/>
        <module name="Magento_Inventory"/><module name="Magento_InventorySales"/>
        <module name="Magento_InventoryShipping"/><module name="Vnecoms_VendorsShipping"/><module name="Vnecoms_VendorsSales"/><module name="Vnecoms_VendorsApi"/>
    </sequence></module>
</config>
