<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mgs" translate="label" sortOrder="68">
            <label>Mage Solution</label>
        </tab>
        <section id="mgs_amp" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Accelerated Mobile Page</label>
            <tab>mgs</tab>
            <resource>MGS_Amp::config_mgs_amp</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="pages" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled AMP On</label>
                    <source_model>MGS\Amp\Model\System\Config\Source\Page</source_model>
                </field>
				<field id="cms_home_mobile" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>CMS Page For AMP Home</label>
					<source_model>Magento\Cms\Model\Config\Source\Page</source_model>
				</field>
            </group>
        </section>
    </system>
</config>
