<?xml version="1.0"?><config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd"><menu><add id="MagentoEgypt_CityManager::manage" title="City Manager" module="MagentoEgypt_CityManager" sortOrder="90" parent="Magento_Backend::stores" action="citymanager/location/index" resource="MagentoEgypt_CityManager::manage"/></menu></config>
