<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"><system><section id="citymanager" translate="label" sortOrder="950" showInDefault="1" showInWebsite="0" showInStore="0"><label>City Manager</label><tab>general</tab><resource>MagentoEgypt_CityManager::manage</resource><group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0"><label>Address Selection</label><field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0"><label>Enable City Manager</label><source_model>Magento\Config\Model\Config\Source\Yesno</source_model><comment>Enables the shared address dropdowns and validation. Existing order address text is preserved. Review locality coverage before enabling.</comment></field></group></section></system></config>
