<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Locale\FormatInterface">
        <plugin name="round_price_decimal_local_format" type="MagentoEgypt\SetExtend\Plugin\Price\Local\Format" disabled="false"/>
    </type>
    <preference for="Magento\Framework\NumberFormatter" type="MagentoEgypt\SetExtend\Plugin\Price\NumberFormatter" />
</config>
