<?xml version="1.0"?><config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd"><menu><add id="MagentoEgypt_Fulfillment::manage" title="Hub Fulfillment" module="MagentoEgypt_Fulfillment" sortOrder="99" parent="Magento_Sales::sales" action="hubfulfillment/manage/index" resource="MagentoEgypt_Fulfillment::manage"/></menu></config>
