<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MagentoEgypt_PushNotification::manage_notification"
             title="Push Notifications"
             sortOrder="20"
             module="MagentoEgypt_PushNotification"
             parent="Vnecoms_VendorsCoupon::manage_marketing"
             action="pushnotification/notification/index"
             dependsOnModule="MagentoEgypt_PushNotification"
             resource="MagentoEgypt_PushNotification::manage_notification"/>
    </menu>
</config>
