<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- CL036-TC97: no customer account created with, or changed to, an email whose domain cannot receive mail. -->
    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="magentoegypt_reject_undeliverable_email"
                type="MagentoEgypt\AccountExtend\Plugin\Customer\RejectUndeliverableEmail"/>
    </type>
    <!-- CL036-TC97: no guest order placed with an email whose domain cannot receive mail. -->
    <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
        <plugin name="magentoegypt_reject_undeliverable_guest_email"
                type="MagentoEgypt\AccountExtend\Plugin\Checkout\RejectUndeliverableGuestEmail"/>
    </type>
</config>
